html {
  scroll-behavior: smooth;
  font-family: 'Merriweather', 'Raleway', serif;
}

.container {
  margin: 0 auto;
  max-width: min(90%, 1200px);
}

body {
  --brown-1: #fefdfc;
  --brown-2: #fcf9f6;
  --brown-3: #f6eee7;
  --brown-4: #f0e4d9;
  --brown-5: #ebdaca;
  --brown-6: #e4cdb7;
  --brown-7: #dcbc9f;
  --brown-8: #cea37e;
  --brown-9: #ad7f58;
  --brown-10: #a07553;
  --brown-11: #815e46;
  --brown-12: #3e332e;
}



/*-- HEADER --*/
header {
  background-color: var(--brown-12);
  padding: 16px 0;
  font-weight: bold;
  position: sticky;
  top: 0;
}

header > div {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 16px;
}

header nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #fefdfc;
  font-weight: 700;
  font-family: 'Merriweather', 'Raleway', serif;
}

header nav div{
  position: absolute;
  right: 0;
  top: 48px;
  background-color: var(--brown-12);
  border-radius:0 0 0 8px;
  text-align: center;
}

header nav div ul{
  display: flex;
  flex-direction: column;
  color: #fefdfc;
  gap: 24px;
  padding: 10px 20px;
}

/*-- MAIN --*/

main {
  background-color: var(--brown-1);
}

/*-- PEROVSKITE --*/

#perovskite {
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--brown-10);
  padding: 16px 0;
  align-items: center;
}

#perovskite blockquote {
  width: 50%;
  text-align: center;
  font-size: 56px;
}

#perovskite canvas {
  width: 50%;
  overflow: hidden;
}

.author {
  color: var(--brown-10);
  font-size: 48px;
}

/*-- RESEARCH --*/

#research {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  border-bottom: 2px solid var(--brown-10);
  padding: 48px 0;
}

#research h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--brown-10);
}

#research div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px;
  background-color: var(--brown-3);
  color: var(--brown-10);
  padding: 16px 0;
  border-radius: 8px;
}

#research div p {
  font-size: 18px;
}

#research > p {
  color: black;
  line-height: 22px;
}
/*-- EXTENSION --*/
#extension {
  border-bottom: 2px solid var(--brown-10);
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

#extension h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--brown-10);
  text-align: center;
}

#extension li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

#extension li div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 70%;
}

#extension li div h3 {
  color: var(--brown-11);
  font-weight: bold;
  line-height: 22px;
}

#extesion li div p {
  line-height: 22px;
}

#extension li div a {
  color: var(--brown-11);
  font-weight: 500;
}

#extension img {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

#extension p{
  line-height: 22px;
}

/*-- SIMULATION --*/

#simulation {
  border-bottom: 2px solid var(--brown-10);
  padding: 48px 0;
}

#simulation h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--brown-10);
  text-align: center;
}

#simulation p{
  line-height: 22px;
  text-align: center;
}

#simulation a {
  font-weight: bolder;
}
/*-- CONTACT --*/

#contact {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#contact h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--brown-10);
  text-align: center;
}

#contact ul {
  display: flex;
  justify-content: space-between;
}

#contact li {
  width: 30%;
}

#contact li a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

#contact h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--brown-10);
}

#contact span {
  text-align: center;
}

/*-- FOOTER --*/
footer {
  background-color: var(--brown-12);
  padding: 16px 0;
  color: white;
}

footer > div {
  text-align: center;
}

@media (max-width:700px){
  #perovskite{
    flex-direction: column;
  }

  #perovskite blockquote{
    width: 100%;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 120%;
  }

  .author {
    color: var(--brown-10);
    font-size: 38px;
  }

  #contact ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
  }

  #contact ul li{
    width: 100%;
  }
}